# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env
botcoudi/.env
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos temporales
*.bak
*.tmp